.price {
  width: 500px;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: black;
  font-size: 25px;
  margin: auto;
}
.order {
}
.order > button {
  width: 140px;
  height: 60px;
  margin: 20px 5px 20px 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}
